<h1>New Student</h1>

<%= form_with model: @student do |form| %>
  <div>
    <%= form.label :stu_name %><br>
    <%= form.text_field :stu_name %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
